<div class="content">
    <h2>Captures</h2>
    <div class="d-flex flex-wrap align-content-start">
        @foreach (var captured in _captures)
        {
            <div class="piece @captured"></div>
        }
    </div>
</div>