@namespace app.Components.Modals

<div class="modal-header"></div>
<div class="modal-body text-center">
    <h2>@Winner wins!</h2>
</div>
<div class="modal-footer">
    <button class="btn">Back</button>
</div>

@code {
    [Parameter] public string Winner {get;set;}    
}